body {
    font-family: 'Open Sans';font-size: 22px;
}
#base_container{
    z-index: 2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#finalimg{
    top: 2vw;
    position: relative;
    width: 60%;
    height: auto;
    text-align: center;
}
#hedding{
    color: #1A1D3A;
}
#bgimg{
    position: absolute;
    min-width: 80vw;
    min-height: 44.5vw;
    left: -4vw;
    z-index: 1;
    position: absolute;
    bottom: 0vw;
}
#bgimg2{
    position: absolute;
    min-width: 80vw;
    min-height: 44.5vw;
    right: 0.1vw;
    z-index: 1;
    position: absolute;
    bottom: 0vw;
}